body{

}
div {
    /*box-sizing: border-box;*/
    text-align: left;
}
.noline {
    color: #000000;
    text-decoration:none
}



/****           DIV           ***/
/*header*/
div.header{
    border-bottom: 2px solid #AAAAAA;
    line-height: 8vh;
    width: 100%;
}
div.header_rogo{
    margin-left: 10px;
}


/*contents*/
div.contents{
    width: 100%;
    display: table;
}
div.contents_panel{
    border-right: 1px solid #AAAAAA;
    display:table-cell;
    width: 20%;
}
div.contents_panel_search{
    border-bottom: 1px solid #AAAAAA;
	padding-bottom: 10px;
}
div.contents_main{
    display:table-cell;
    width: 80%;
}
div.contents_main_video{
    border-bottom: 1px solid #AAAAAA;
    margin-bottom: 10px;
    display: table;
    width:100%;
    height: 15vh;
}
div.contents_main_video_thumbnail{
    display:table-cell;
    width:30%;
    padding:3px;
}
img.contents_main_video_thumbnail{
    width: 100%;
}
div.contents_main_video_description{
    display:table-cell;
    width:70%;
}

/*bottom*/
div.bottom{
    border-top: 2px  solid #AAAAAA;
    width: 100%;
}
